@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-dark:
  --primary-light:
}


@layer base {
  html {
    @apply scroll-smooth
  }
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(./fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(./fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway-f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
  font-family: raleway_f, sans-serif;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(./images/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	z-index: 0;
}

.layer__header {
	z-index: 1;
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 1.95);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / .875);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
  
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
  font-family: raleway_f, sans-serif;
  will-change: transform;
	font-weight: 100;
	text-shadow: 0 0 15px #9d822b;
	/* Update: */
	top: -1px;
	z-index: 0;
}
.main-article__header {
  font-size: calc(var(--index) * 1.95);
	letter-spacing: calc(var(--index) / 2.25);
  z-index: 0;
	will-change: transform;
	text-transform: uppercase;
	font-weight: 10000;
	color: var(--text);
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * 1.0);
	margin-top: calc(var(--index) / 2.25);
  color: rgb(255, 220, 94);
  font-weight: 200;
}

.navbar-footer {
  text-shadow: 0 0 15px #9d822b;
	font-family: raleway_f, sans-serif;
  color: rgb(255, 220, 94);
  font-weight: 600;
}

.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
